:root {
	--container-padding: 20px;
	--input-padding-vertical: 6px;
	--input-padding-horizontal: 4px;
	--input-margin-vertical: 4px;
	--input-margin-horizontal: 0;
}

body {
	padding: 0 var(--container-padding);
	color: var(--vscode-foreground);
	background-color: var(--vscode-editor-background);
}

*:focus {
	outline-color: var(--vscode-focusBorder) !important;
}

#status, #server-data {
	padding: 1rem 0;
}

#buttons {
	flex-direction: column;
	gap: 5px;
}

#buttons > div {
	display: flex;
}

/* FIXME: PLEASE SOMEONE THIS IS SO BAD CAN SOMEONE MAKE IT NOT SHIT */
#buttons > div button {
	height: calc(1em + 4px);
    width: 100%;
	margin-left: 3px;
    aspect-ratio: 1;
    box-sizing: content-box;
    padding: var(--input-padding-vertical);
	transition: .3s ease;
}

#buttons > div button.unchanged { /* Selector has to be weird because of specificity */
	width: 0;
	margin: 0;
	padding: var(--input-padding-vertical) 0;
}

#start-stop-button {
	width: 100% !important;
	margin: 0 !important;
}

button {
	border: none;
	padding: var(--input-padding-vertical) var(--input-padding-horizontal);
	width: 100%;
	outline: 1px solid transparent;
	outline-offset: 2px !important;
	color: var(--vscode-button-foreground);
	background: var(--vscode-button-background);
}

button:hover {
	cursor: pointer;
	background: var(--vscode-button-hoverBackground);
}

button:focus {
	outline-color: var(--vscode-focusBorder);
}

#play-buttons {
	width: 100%;
	text-align: center;
}

#start-stop-button {
	border-right: 2px solid var(--vscode-editor-background);
}

#start-stop-raw-button {
	border-left: 2px solid var(--vscode-editor-background);
}

#restart-button {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

#rate {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

#rate-input-slider {
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	margin-right: 1em;
}

#rate-input-text {
	width: 2.5em;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

input {
	width: 100%;
	border: none;
	font-family: var(--vscode-font-family);
	padding: var(--input-padding-vertical) var(--input-padding-horizontal);
	color: var(--vscode-input-foreground);
	background-color: var(--vscode-input-background);
}

input::placeholder,
textarea::placeholder {
	color: var(--vscode-input-placeholderForeground);
}

img {
	user-select: none;
}
