name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
    build:
        name: Build
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4

            - name: Install Dependencies
              run: npm install

            - name: Install VSCE
              run: npm install -g @vscode/vsce
            
            - name: Build
              run: vsce package -o p2tas.vsix --skip-license
            
            - name: Upload Artifact
              uses: actions/upload-artifact@v4
              with:
                name: p2tas
                path: p2tas.vsix
                if-no-files-found: error
